# aviato:managed profile=python-library version=0.6.1 hash=71589501b7a5dd84d122c08a34d94001034ec89843a90e2e790a65087c8a4fcc inputs=706a2071723c9f4cf6924618cdb09f4ad1a8d800092d4a4d92ce4d20bda0f5c4
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.py]
indent_size = 4
